* {
  padding: 0;
  margin: 0;
}

.nav-link {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  border-radius: 25px;
  height: 70vh;
  width: 100%;
}

.img2 {
  border-radius: 25px;
  height: 89%;
  width: 100%;
}

.img3 {
  border-radius: 50px;
  height: 55vh;
  width: 50%;
  padding: 15px;
}

.card{
    height: 70vh;
    width: 70%;
    padding: 7px;
}

.card-container{
    display: flex;
}

@media screen and (max-width: 788px){
  .card-container{
    flex-direction: column;
    width: 600px;
    height: 60px;    
}
}